<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>놀멍봅서</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.107241453785-do85fcu2l0i2fdt0805tb646vhgv5g9f</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>$(GOOGLE_MAPS_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>화면이 꺼져 있거나 앱이 백그라운드일 때도 관광지 도착을 감지해 이야기를 안내하기 위해 위치 접근이 필요합니다. 위치는 기기 안에서만 확인하며 서버로 보내지 않습니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>관광지에 도착했을 때 준비된 이야기를 안내하기 위해 위치를 사용합니다. 위치는 기기 안에서만 확인하며 서버로 보내지 않습니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>이야기를 들으며 음성으로 답하거나 리뷰를 남길 때 마이크를 사용합니다.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>말한 내용을 글자로 바꾸기 위해 Apple 음성 인식을 사용합니다. 이 앱은 음성을 저장하지 않습니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Galmuri9.ttf</string>
		<string>Fonts/Galmuri11.ttf</string>
		<string>Fonts/Galmuri14.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
